<div class="wrapper">
    <header role="banner"></header>
    <div class="main">
        <div class="top_follow">
            <div class="share " (click)="onShare($event)"><i class="fa fa-share-square-o"></i></div>
            <div class="person">
                  <div class="photo"><img src="assets/images/avatar.jpg" alt=""></div>
                  <div class="details">
                    <h1 class="title">Harvey Specter  <span class="heart fa fa-heart-o" (click)="onHeart($event)"></span></h1>
                    <h2 class="city">New York, USA</h2>
                  </div>
            </div>
            <div class="numbers">
                <div class="data">
                    <div class="likes-wrap" *ngFor="let c of counts | async">
                        <div class="likes">
                              <h1>{{c.hearts}}</h1>
                              <h3>Likes</h3>
                          </div>
                           <div class="line"></div>
                        <div class="likes">
                            <h1>{{c.following}}</h1>
                            <h3>Following</h3>
                        </div>
                         <div class="line"></div>
                        <div class="likes">
                            <h1>{{c.followers}}</h1>
                            <h3>Followers</h3>
                        </div>
                    </div>
                </div>
                <div class="folow-button" (click)="onFollow($event)">Follow</div>
            </div>
        </div>
        <div class="content_follow">

            <a href="#" class="comments" (click)="onHide($event)">Hide comments (353)</a>
            <a href="#" class="sort" (click)="onSort($event)">sortuj</a>
            <div class="posts">
              <ul>
              <li *ngFor="let d of data | async" class="collection-item avatar">
                        <div class="wrapper-top">
                              <img src="{{d.avatar}}" alt="">
                              <span class="title_header">{{d.name}}</span>
                              <span class="day">{{d.day}}</span>
                          </div>
                          <p>{{d.message}}</p>
                      </li>
              </ul>
            </div>
            <div class="wrapper-comment">
                <input type="text" class="input_cm" (click)="onComment($event)" placeholder="Add a comment">
            </div>
        </div>
    </div>
</div>
